<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <!-- A Boolean indicating whether NuGet can perform automatic restore. You can also set the EnableNuGetPackageRestore environment variable with a value of True instead of setting this key in the config file. -->
    <add key="enabled" value="True" />
    <!-- A Boolean indicating whether NuGet should check for missing packages during a build. -->
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <!-- All non-disabled sources are active -->
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <clear /> <!-- ensure only the sources defined below are used -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>